# MongoDB
# DB_MODE=json  → Datos en archivos JSON locales (db-export/)
# DB_MODE=mongo → MongoDB Atlas (producción)
DB_MODE=json
DISABLE_TRANSACTIONS=true
MONGO_URI=mongodb://localhost:27017/gym_db

# JWT
JWT_SECRET=tu_secret_aqui
JWT_EXPIRES_IN=7d

# Cloudinary (para subir fotos)
CLOUDINARY_ENABLED=false
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Servidor
PORT=3000
NODE_ENV=development

# API RENIEC (decolecta.com)
RENIEC_API_URL=https://api.decolecta.com/v1/reniec/dni
RENIEC_API_TOKEN=tu_token_aqui
